<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
  />

  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"
  ></script>

  <script
    src="https://kit.fontawesome.com/91abd10b8f.js"
    crossorigin="anonymous"
  ></script>

  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/index.css" />
    <title>New Note</title>
</head>

<body>
    <h1 style="text-align: center;">Add New Note</h1>
    <form action="/products" method="POST">
        <div class="form-group">
        <label for="title" >Product title</label>
        <input type="text" class="form-control" name="title" id="title" placeholder="product title">
    </div>
    <div class="form-group">
        <label for="description" >description</label>
        <textarea type="text" name="description" placeholder="description" class="form-control" rows="5" id="comment"></textarea>
        <!-- <input type="text" id="description" name="description" placeholder="description"> -->
    </div>
        <button  class="btn btn-success">Submit</button>
    </form>




    <script src="/javascripts/main.js"></script>
</body>

</html>